/* --------------- Config Geral ----------------- */
*,
*:before,
*:after,
input,
body,
html {
  margin: 0;
  padding: 0;
	border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font: inherit;
	vertical-align: baseline;
}

body {
  background-color:aliceblue ;  
}

section#creditos {
  width: 100%;
  height: 380px;
  margin: auto 0;

}

section#creditos .creditosH1 {
  height: 45px;
  width: 100%;
  font-size: 24px;
  padding-top: 10px;
  color: white;
  text-align: center;
  background-color: #011e29;
  border-radius: 0 0 12px 12px;
}

.creditosH1 a:hover {
  color: rgba(218, 14, 14, 0.857);
}

.sub_footer {
  color: white;
  max-width: 960px;
  min-width: 319px;
  font-size: large;
  margin: 25px auto 25px auto;
  height: 246px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub_footer a {
  color: white;
}
.sub_footer a:hover {
  color: #c69b67;
}

.footerH1center {
  text-align: center;
  font-weight: bold;
}

.footerTop {
  margin-top: 20px;
}

.footerUp ul li {
  margin-top: 15px;
  height: 100%;
}

.youTubers {
  width: 280px;
  height: auto;
  padding: 10px;
  margin: 4px;
  border: white solid 2px;
  background-color: #011e29;
}

.euCreditos {
  width: 280px;
  height: auto;
  padding: 20px;
  margin: 4px;
  border: white solid 2px;
  background-color: #00262b;
  text-align: center;
}

.artistas {
  width: 280px;
  height: auto;
  padding: 20px;
  margin: 4px;
  border: white solid 2px;
  background-color: #011e29;
}

.artistas ul {
  list-style-position: inside;
  columns: 2;
}

.direitos {
  margin: auto;
  text-align: center;
  color: rgb(200, 197, 197);
}

@media (min-width: 300px) and (max-width: 785px) {
  .direitos {
    margin: 170px auto;
    text-align: center;
    color: rgb(200, 197, 197);
  }
  section #creditos {
    height: 530px;
  }
}

@media (min-width: 319px) and (max-width: 570px) {
  section #creditos {
    height: 120px;
  }
  section p {
    display: block;
    color: white;
    text-align: center;
    padding-top: 7px;
  }
}

