/* --------------- Sobre e HardSkill ----------------- */
/* Fazer o margin depois em relação com min-width e max-width */
body {
  margin: 0;
}

#container_modulo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#primeiro_modulo {
  width: 1200px;
  margin: 0 auto;
}

.container_habilidades {
  width: 750px;
  height: 950px;
  border-radius: 80px 0 80px 0;
  margin: 150px auto 72px -300px;
  background-color: #012e40;
  position: relative;
}

.hard_skill {
  width: 761px;
  height: 485px;
  border-radius: 18px;
  background-color: #026873e1;
  position: absolute;
  margin: 32px 78px 32px 283px;
  display: block;
}

#list_hard {
  width: 700px;
  height: 125px;
  display: inline;
  overflow-x: auto;
  margin: 30px 30px;
  position: absolute;
  display: flex;
  gap: 22px;
  background-color: #1e6c75;
  padding: 10px;
}

#list_hard::-webkit-scrollbar {
  width: 10px;
}

#list_hard::-webkit-scrollbar-thumb {
  background-color: #043f47;
}

#list_hard::-webkit-scrollbar-track {
  background: #017786;
}

#list_hard ul {
  display: inline-flex;
  gap: 25px;
}

#text_hard::-webkit-scrollbar {
  width: 15px;
}

#text_hard::-webkit-scrollbar-thumb {
  background-color: #3ca6a6;
  border: black solid 0.5px;
  border-radius: 20px 0px 0px 20px;
}

#text_hard::-webkit-scrollbar-track {
  background: #ffffff;
}

/* ------------- Botões Hard-Skill--------------- */
#list_hard div {
  cursor: pointer;
}

#list_hard img {
  width: 85px;
  border: #b7000000 solid 3px;
  border-radius: 16px;
  filter: saturate(0.15) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.7));
}

#list_hard img:hover {
  border: #083338 solid 8px;
  filter: saturate(1);
  transition: 0.3s;
}

/* ------------- Texto de Descrições --------------- */
#text_hard {
  background-color: white;
  margin: 200px 30px auto 30px;
  max-height: 220px;
  padding: 10px;
  border: #000405 solid 2px;
  border-radius: 8px;
  position: absolute;
  overflow-x: auto;
}

.text {
  font-size: 16px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 25px;
  color: black;
  line-height: 20px;
}

.angoraMeio {
  font-weight: 700;
  color: #012e40;
}
.angoraMeio:hover {
  color: #5fd3d3;
}

.tituloEspecial {
  color: rgb(162, 17, 17);
  font-weight: bold;
}
.tituloEspecial:hover {
  color:red;
  font-size: bold;
}

.text {
  display: none;
}

#text_hard img {
  width: 321px;
  height: 340px;
}

@media (min-width: 964px) and (max-width: 1024px) {
  .container_habilidades {
    width: 850px;
    height: 900px;
    margin-left: 17px;
    top: 20px;
  }
  .descricao {
    width: 264px;
    height: 474px;
  }
  .descricao img {
    width: 180px;
    height: 200px;
  }
  .hard_skill {
    margin-top: 80px;
    width: 610px;
    margin-left: 200px;
    margin-right: 0px;
  }
  #list_hard {
    width: 550px;
  }
}

@media (min-width: 769px) and (max-width: 964px) {
  .container_habilidades {
    width: 605px;
    height: 800px;
    margin-left: -80px;
    top: 0px;
  }
  .hard_skill {
    width: 600px;
    margin: 70px 0px 32px 100px;
  }
  #list_hard {
    width: 540px;
  }
}

@media (min-width: 633px) and (max-width: 769px) {
  .container_habilidades {
    width: 473px;
    height: 850px;
    margin-left: -120px;
    top: -10px;
  }
  .hard_skill {
    width: 580px;
    height: 444px;
    margin-left: 0px;
    top: 500px;
  }
  #list_hard {
    width: 520px;
  }
}

@media (min-width: 480px) and (max-width: 633px) {
  .container_habilidades {
    /* margin-top improvisado */
    width: 400px;
    height: 700px;
    margin: 75px 0px 0px -70px;
    padding-right: 0px;
  }
  .sobre {
    display: flex;
    gap: 20px;
  }
  .sobre img {
    margin-left: 3px;
  }
  .sobre_sub {
    color: #ffffff;
  }
  .hard_skill {
    width: 450px;
    height: 450px;
    margin: 32px 0px 32px 260px;
    left: -250px;
    top: 780px;
  }
  #list_hard {
    width: 410px;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  #primeiro_modulo1 {
    width: none;
  }
  .container_habilidades {
    width: 190px;
    height: 1455px;
    margin: 20px 0px auto 0;
    border-radius: inherit;
  }
  .hard_skill {
    width: 290px;
    height: 450px;
    margin-left: -50px;
    margin-right: 0px;
    top: 850px;
  }
  #list_hard img {
    width: 65px;
  }
  #list_hard {
    width: 265px;
    max-height: 105px;
    margin: 10px;
  }
  #text_hard {
    width: 255px;
    min-height: 280px;
    margin-top: 145px;
    margin-left: 20px;
  }
  #text_hard img {
    width: 221px;
    height: 240px;
  }
}
