.preto {
  margin-top: 200px;
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: #100f0f solid 30px;
  border-bottom: #100f0f solid 30px;
}

.atencao {
  max-width: 100%;
  height: 225px;
  margin: 20px;
  background-color: white;
  border-top: red solid 6px;
  border-bottom: red solid 6px;
  overflow-y: auto;
}

.atencao h1 {
  margin: 20px;
  color: red;
  font-size: 26px;
  font-family: "Karma";
  font-weight: bold;
  text-align: center;
}

.atencao p {
  font-size: 18px;
  color: black;
  font-family: "Karma";
  font-size: medium;
  margin: 0px 20px 20px 20px;
  text-align:center;
}

@media (min-width: 769px) and (max-width: 964px) {
  .preto {
    margin-top: 280px;
  }
}

@media (min-width: 626px) and (max-width: 769px) {
  .preto {
    margin-top: 170px;
  }
}

@media (min-width: 481px) and (max-width: 625px) {
  .preto {
    margin-top: 630px;
  }
}

@media (min-width: 319px) and (max-width: 481px) {
  .preto {
    margin-top: 0px;
  }
}
