/* --------------- Logo e Menu ----------------- */
.mobile_menu {
  display: none;
}
.itens-menu ul {
  display: none;
}
.open {
  display: none;
}

#menuItens {
  align-self: center;
}

a {
  color: white;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  padding: 15px;
  position: fixed;
  top: 0;
  background-color: #00262b;
  z-index: 10;
}

.logo {
  align-items: left;
  align-self: center;
  width: 200px;
}

.logo h1 {
  width: 190px;
  margin-left: 20px;
  font-size: 28px;
  font-family: "Karma";
  color: white;
  align-self: center;
  border-bottom: #ffffff solid 2px;
}

.nav_main {
  width: 100%;
  display: flex;
}

.nav_lista {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #00262b;
}

.nav_lista ul {
  display: flex;
  margin-right: 50px;
  flex-wrap: wrap;
  align-self: center;
  gap: 25px;
  justify-content: right;
}

.menu {
  font-weight: bold;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.nav_lista .contato {
  background-color: #136a6a;
  border: #0c3e3e solid 3px;
  padding: 5px 35px;
}

.nav_lista .contato:hover {
  background-color: #2e9797;
  border: #146161 solid 3px;
}

@media (min-width: 964px) and (max-width: 1920px) {
  .logo {
    width: 190px;
  }
  .logo h1 {
    width: 190px;
    font-size: 25px;
    margin-left: -15px;
  }
}

@media (min-width: 678px) and (max-width: 964px) {
  header {
    margin-left: -25px;
  }
  .nav_lista {
    height: 50px;
    justify-content:space-between;
  }
  .nav_lista ul {
    gap: 15px;
    margin-right: -2px;
  }
  .logo {
    width: 90px;
    margin-left: -10px;
  }
  .logo h1 {
    font-size: 18px;
    width: 100px;
    text-align: center;
    margin-left: 40px;
  }
  .nav_lista .contato {
    padding: 5px 20px;
  }
}
@media (min-width: 319px) and (max-width: 678px) {
  header {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  .nav_lista {
    width: 100%;
    height: 70px;
    background-color:#00262b94;
    justify-content:space-between;
  }
  .mobile_menu {
    display: block;
    margin-right: 50px;
  }
  .nav_lista ul {
    display: none;
  }
  .itens-menu ul {
    display: none;
  }
  #button_mobile {
    cursor: pointer;
  }
  .logo {
    text-align: left;
  }
  .logo h1 {
    width: 119px;
    margin-left: 10px;
    font-size: 18px;
    text-align: center;
    align-self: center;
  }
  .itens-menu {
    background-color: #00262b;
    padding: 10px;
    width: 190px;
    height: 230px;
    margin-top: 75px;
  }
  .itens-menu ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .itens-menu ul li {
    width: 55px;
  }
  .mobile_menu button {
    border-top: #ffffff solid 4px;
    border-left: #ffffff solid 4px;
    border-right: #ffffff solid 4px;
    border-radius: 6px;
  }
  .menu {
    background-color: #114d4d;
    border: #114d4d solid 3px;
    padding: 6px;
    padding-right: 115px;
    cursor: pointer;
  }
  .menu:hover {
    background-color: #3baeae;
    border: #146161 solid 3px;
  }
}
