/* --------------- Config Geral ----------------- */
*,
*:before,
*:after,
input,
body,
html {
  margin: 0;
  padding: 0;
	border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font: inherit;
	vertical-align: baseline;
}

body {
  border:#00262b solid 20px;
  width: auto;
  height: auto;
}
