/* --------------- Config Geral ----------------- */
*,
*:before,
*:after,
input,
body,
html {
  margin: 0;
  padding: 0;
	border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font: inherit;
	vertical-align: baseline;
}

html {
  border: #014149 solid 20px
}